<div class="login-page">
    <div class="login-overlay">
        
        <div class="google-login-box">
            <div class="google-login-box-title">
                <div class="logo">
                    <img src="../../../assets/logo.png" alt="">
                </div>
                <span>
                    Sign In to Daily System
                </span>
            </div>
            <div class="google-login-box-content">
                <button class="google-login-box-button" (click)="googleLogin()">
                    <div class="google-logo">
                        <img src="../../../assets/google.png" alt="">
                    </div>
                    <span>Sign in with google</span>
                </button>
            </div>
        </div>
    </div>
</div>